$bgcolor: rgb(117, 187, 154);
$textcolor: #000000;
$formbg: #ffffff;

@mixin shadow {
    box-shadow: 0px 10px 15px 12px rgba(0,0,0,0.3);
    border-radius: .6rem;   
}
@mixin flex{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

*{
    margin: 0;padding: 0;box-sizing: border-box;
}

    .container{
        text-align: center;
        background-image: url("./proj1hero.jpg");
        width: 80%;
        margin: auto;
        height:80% ;
        margin-top: 100px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        // background-color: red;
        background: $bgcolor;
        padding-bottom: 80px;
        @include shadow();

        h1{
            margin-top: 40px;
            padding-top: 20px;   
            font-size: 40px;
        }
        // for form
        .todoForm{
            background: $formbg;
            width: 95%;
            height: 60px;
            margin: auto;
            margin-top: 70px;
            border-radius: .5rem;
            @include flex();
    
            // for text input
            input[type="text"]{
                outline:none;
                border: none;
                text-align: center;
                font-size: 20px;
                height: 50px;
               
                // @include shadow()

            }
            // for submit input
            input[type="submit"]{
                width: 30%;
                background-color: $bgcolor;
                height: 60px;
                border: none;
                margin-left: 180px;
                font-size: 25px;
                color: $textcolor;
                border-radius: .5rem;
                box-shadow: 0px 10px 15px 12px rgba(0,0,0,0.1);
                cursor: pointer;
            }

        }
        
        // css for todolist adding dynamically 
        .todotask{
            text-align: center;
           width: 60%;
           height: 80px;
           margin: auto;
            border: none;
            text-align: center;
            font-size: 20px;
            background-color: $formbg;
            color: $textcolor;
            padding-top: 20px;
            margin-top: 20px;
            text-transform: uppercase;
            @include shadow();
           

            // delete btn css
            .btn{
                font-size: 20px;
                margin-left: 50px;
                background-color: red;
                color: $formbg;
                border: none;
                // padding-top: 15px;
                padding: 10px 10px;
                cursor: pointer;
                border-radius: 10px;
            }

        }
        
    }
   


